APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

SPOTIFY_CLIENT_ID=null
SPOTIFY_SECRET=null
SPOTIFY_REDIRECT_URI=http://YourUrl/auth/spotify/callback

SQS_KEY=null
SQS_SECRET=null
SQS_PREFIX=null
SQS_QUEUE=null

PUSHER_KEY=null
PUSHER_SECRET=null
PUSHER_APP_ID=null
